
:root{
  --primary: #673AB7;
  --dark-primary: #512DA8;
  --light-primary: #D1C4E9;
  --txt: #FFFFFF;
  --accent: #9E9E9E;
  --primary-txt: #212121;
  --secondary-txt: #757575;
  --divider: #BDBDBD;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.7em;
  background-color: #FFFFFF;
}

#container {
  width: 60%;
  margin-left: 20%;

  background-color: var(--light-primary);

  text-align: center;
}

#bigLogo {
  width: 50%;
  margin: 3%;
}

/*
#scrunchie1 {
  position: absolute;*/
           /*top, right, bottom, left*//*
  clip: rect(100px, 1050px, 300px, 5px);
}
border radius = 50%
*/

.med-image {
  width: 20%;
  margin: 1%;
}

#sponsor-logo {
  width: 40%;
}

h2 {
  margin-top: 0;
  margin-bottom: 5%;
  padding-top: 0;

  color: var(--secondary-txt);
  font-family: 'Dancing Script', cursive;
}

h3 {
  color: var(--primary-txt);
  font-family: 'Roboto Slab', serif;
}

p {
  margin-left: 2em;
  margin-right: 2em;

  color: var(--secondary-txt);
}

hr {
border: 0;
            height: 3px;
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(100, 100, 100, 0.75), rgba(0, 0, 0, 0));
}

.button {
  color: var(--accent);
  background-color: var(--dark-primary);
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  display: inline-block;
  margin: 3%;
}

footer {
  background-color: var(--primary);
}

footer p {
  color: var(--txt);
}
